[Unit]
Description=HabitFlow Frontend Build Service
After=network.target

[Service]
Type=oneshot
User=ec2-user
WorkingDirectory=/opt/habitflow/frontend
ExecStart=/usr/bin/npm install
ExecStart=/usr/bin/npm run build
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
